@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: linear-gradient(to bottom left, #94dcc1, #56ab2f);
  font-family: Arial, Helvetica, sans-serif;
}
